# Dependencies
node_modules/
pnpm-lock.yaml

# Build
.next/
out/
build/
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
INSTRUCTION.md

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Misc
*.log
*.tsbuildinfo
next-env.d.ts

# Typescript
*.tsbuildinfo

# Husky
.husky/
!.husky/pre-commit
!.husky/pre-push
